<div class="jumbotron">
<h1> About </h1>
<p class="lead">
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	is project to teach Ilkka
	<%= link_to "Ruby On Rails", "http://rubyonrails.com" %> 
in one month. This is the sample application.
</p>
</div>

<div class="btn-toolbar" style="margin: 0;">
<div class="btn-group">
   <button class="btn btn-success">Find Out</button>
   <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
   </button>
   <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
    <li><a tabindex="-1" href="#">Action</a></li>
    <li><a tabindex="-1" href="#">Another action</a></li>
    <li><a tabindex="-1" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#">Separated link</a></li>
   </ul>
 </div>

 <div class="btn-group">
   <button class="btn btn-warning">Choose Now</button>
   <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
   </button>
   <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
    <li><a tabindex="-1" href="#">Action</a></li>
    <li><a tabindex="-1" href="#">Another action</a></li>
    <li><a tabindex="-1" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#">Separated link</a></li>
   </ul>
 </div>

 <div class="btn-group">
   <button class="btn btn-danger">Now or never</button>
   <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
   </button>
   <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
    <li><a tabindex="-1" href="#">Action</a></li>
    <li><a tabindex="-1" href="#">Another action</a></li>
    <li><a tabindex="-1" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#">Separated link</a></li>
   </ul>
 </div>
 </div>
