<% if user_signed_in? %>
  <div class="hero-unit">
    <div class="row-fluid">
        <div class="columnA pull-right">
        	<br>
             <h1>SHOW ME THE BURGER</h1>
            <p> <br>
            <font size="6">WELCOME BACK TO THE TASTY WORLD OF BURGERS</font>
		</p>
		<br>
		<p>	<%= link_to "Upload a Burger", new_user_registration_path, class: "btn btn-success btn-large" %>
			 <a href="#HotH"> <button class="btn btn-warning btn-large"> Check 'em Burgers</button></a>
		</p>
        </div>

        <div class="columnB pull-left">
            <img src="https://dl.dropboxusercontent.com/u/38177869/pig_monster_single%20copy.jpg">
        </div>
    </div>
  </div>

<img class="displayed" src="https://dl.dropboxusercontent.com/u/38177869/arrow2.jpg">

<a name="HotH"> <hr class="featurette-divider"></hr></a>


<div class="jumbotron">
	 <h1> Hot Burgers </h1>
<p class="lead">
	#ShowMeTheBurger
</p>
</div>
<br><br><br><br><br><br><br>

<hr class="featurette-divider"></hr>


<div class="jumbotron">
<h1> New Burgers </h1>
<p class="lead">
	#ShowMeTheBurger
</p>
</div>


<br><br><br><br><br><br><br>

<hr class="featurette-divider"></hr>

<div class="jumbotron">
<h1> Near Burgers </h1>
<p class="lead">
	#ShowMeTheBurger
</p>
</div>

<br><br><br><br><br><br><br>


<% else %>


  <div class="hero-unit">
    <div class="row-fluid">
        <div class="columnA pull-right">
        	<br>
             <h1>SHOW ME THE BURGER</h1>
            <p> <br>
            <font size="6">SHARE, RATE & EAT THE BEST BURGERS IN WORLD</font>
		</p>
		<br>
		<p>	<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-success btn-large" %>
			 <a href="#HotH"> <button class="btn btn-warning btn-large"> Check 'em Burgers</button></a>
		</p>
        </div>

        <div class="columnB pull-left">
            <img src="https://dl.dropboxusercontent.com/u/38177869/pig_monster_single%20copy.jpg">
        </div>
    </div>
  </div>

<img class="displayed" src="https://dl.dropboxusercontent.com/u/38177869/arrow2.jpg">

<a name="HotH"> <hr class="featurette-divider"></hr></a>


<div class="jumbotron">
	 <h1> Hot Burgers </h1>
<p class="lead">
	#ShowMeTheBurger
</p>
</div>
<br><br><br><br><br><br><br>

<hr class="featurette-divider"></hr>


<div class="jumbotron">
<h1> New Burgers </h1>
<p class="lead">
	#ShowMeTheBurger
</p>
</div>


<br><br><br><br><br><br><br>

<hr class="featurette-divider"></hr>

<div class="jumbotron">
<h1> Near Burgers </h1>
<p class="lead">
	#ShowMeTheBurger
</p>
</div>

<br><br><br><br><br><br><br>

<% end %>