<div class="hero-unit">
	<h1>Hey there stranger!</h1>
	<p>You have found Ilkka's home page for the
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-success btn-large" %>
		<%= link_to "Test the Page!", "#", class: "btn btn-warning btn-large" %>
	</p>
</div>


<ul class="nav pull-right">
<img src="http://www.mwss.ca/upload_image/crocodile.gif" class="img-circle">
</ul>
