<div class="row">
    	<div class="span2">
    	</div>
    	
    	<div class="span2">
    		<div class="pull-right">
			<br><br><br>
				<img src="https://dl.dropboxusercontent.com/u/38177869/pig_monster_nearmini.jpg"> 
		</div> 
		</div> 


    	<div class="span4">
		<div class="jumbotron">
				<h1> NEAR <br> BURGERS </h1>
				<p class="lead">
					@ #BurgerMonster
				</p>
		</div>
		</div>