<!DOCTYPE html>
<html lang="en">
  <body>
<!--  Carousel - consult the Twitter Bootstrap docs at 
      http://twitter.github.com/bootstrap/javascript.html#carousel -->
<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
<div class="carousel-inner">
    <div class="item active"><!-- class of active since it's the first item -->
      <img src="http://falconinvesting.com/files/2012/01/falcon-Investing-slide-1-1200x480.png" alt="" />
        <div class="container">
          <div class="carousel-caption">
        <h1 style="color:white"> Check out this project. </h1>
        <p class="lead"> Would you want be here? </p> <br>
        <a class="btn btn-primary" href="#"> Sign Up! </a>
      </div>
    </div>
  </div>

    <div class="item">
      <img src="http://shadowness.com/file/item3/79750/image.jpg" alt="" />
      <div class="container">
          <div class="carousel-caption">
        <h1 style="color:white"> Check out this project. </h1>
        <p class="lead"> Would you want be here?</p> <br>
        <a class="btn btn-primary" href="#"> Sign Up! </a>
      </div>
    </div>
 </div>
 
    <div class="item">
      <img src="http://habitatresidence.com/site/wp-content/uploads/2012/12/habitat-slider-1-1200x480.jpg" alt="" />
      <div class="container">
          <div class="carousel-caption">
        <h1 style="color:white"> Check out this project. </h1>
        <p class="lead"> Would you want be here?</p> <br>
        <a class="btn btn-primary" href="#"> Sign Up! </a>
      </div>
    </div>
  </div>

    <div class="item">
      <img src="http://merlelor.com/wp-content/uploads/2012/12/Roemeni%C3%A2-2006_5245-15-8-2006-19-03-45a-1200x480.jpg" alt="" />
      <div class="container">
          <div class="carousel-caption">
        <h1 style="color:white"> Check out this project. </h1>
        <p class="lead"> Would you want be here?</p> <br>
        <a class="btn btn-primary" href="#"> Sign Up! </a>
      </div>
    </div>
  </div>
</div> <!-- /.carousel-inner -->

  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->

 	<script>
    	$(document).ready(function(){
        $('.carousel').carousel({
          interval: 4000
        });
      });
    </script>
<hr class="featurette-divider"></hr>

<div class="container marketing">
<div class="featurette">
<img class="featurette-image pull-right" src="http://www.mwss.ca/upload_image/crocodile.gif"></img>
<br><br><br><br>
<h2 class="featurette-heading">First featurette headling. 
  <span class="muted">
      It'll blow your mind. </span>
</h2>
<p class="lead">
      Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    </p></div>

<br><br><br><br><br><br><br><br><br><br><br>
    <hr class="featurette-divider"></hr>

<div class="container marketing">
<div class="featurette">
<img class="featurette-image pull-left" src="http://ecx.images-amazon.com/images/I/51ex7c5UGPL._SS500_.jpg"></img>
<br><br><br><br>
<h2 class="featurette-heading">First featurette headling. 
  <span class="muted">
      It'll blow your mind. </span>
</h2>
<p class="lead">
      Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    </p></div>

  <br><br><br><br><br><br><br><br><br><br><br>
    <hr class="featurette-divider"></hr>

<div class="container marketing">
<div class="featurette">
<img class="featurette-image pull-right" src="http://openclipart.org/people/bocian/owl_ebook.svg"></img>
<br><br><br><br>
<h2 class="featurette-heading">First featurette headling. 
  <span class="muted">
      It'll blow your mind. </span>
</h2>
<p class="lead">
      Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    </p></div>

     <br><br><br><br><br><br><br><br><br><br><br>
    <hr class="featurette-divider"></hr>


  </body>
</html>