@import url(http://fonts.googleapis.com/css?family=Oxygen);

$navbarHeight: 50px;
$navbarBackground: black;
$navbarBackgroundHighlight: black;
$navbarText: white;
$navbarLinkColor: white;

$heroUnitBackground: white;

$linkColor: black;
$linkColorHover: darkgrey;

$baseFontSize: 16;

@import 'bootstrap';

a:link {text-decoration:none;}
a:hover {text-decoration:none;}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }


body{
    padding-top: 50px;
    height: 100%
}

@import 'bootstrap-responsive';



/* Main marketing message and sign up button */
      .jumbotron {
        margin: 50px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 50px;
        line-height: 1;
    }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }

.columnA,
.columnB{
    width: 500px;
  }


.nav {
       text-align:center;
}

.btn-toolbar {
       text-align:center;
}

.footer{
    margin-bottom: 50px;
    color: $grayLight;
    text-align:center;
    a{
        color: $gray;
    }
}

/* Required for jQuery Masonry */

.box {
    margin: 5px;
    padding: 5px;
    font-size: 12px;
    text-align:center;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #444;
    width: 214px;
}

.box img {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.description {
    margin: 10px 0 5px;
    font-size: 15px;
}