


   <div class="container">
      <div class="row">
       <div class="span12">
        <div id="footer">

           <ul class="footer">
           	<br>
			<hr></hr>
            <p> #BurgerMonster by Ilkka </p>
           <ul>

        </div>
     </div>
  </div>
</div>